env/
*.pyc
*.swp
*.egg-info

#Ignore nohup output log
nohup.out

#Ignore sqlite3 databases
*.db

#Ignore pesky ds_store files
.DS_Store
.DS_STORE

# Template


*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
