<script>
$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
</script>

<ul class="tabs">
    <li><a href="#tab1">Users</a></li>
    <li><a href="#tab2">Server</a></li>
    <li><a href="#tab3">Tasks</a></li>
    <!-- Disabled <li><a href="#tab4">Tasks</a></li> -->
</ul>

<div class="tab_container">
    <div id="tab1" class="tab_content">
<script>
function showIt() {

    if( $(this).attr("option") == "operators" && $(this).attr("submitType") == "add" ) {
        var title = 'Add Operator:<input type="hidden" name="type" value="operators" id="inputType" submitType="add">';
    }  
    else if ( $(this).attr("option") == "whitelist" && $(this).attr("submitType") == "add" ) {
        var title = 'Add to Whitelist: <input type="hidden" name="type" value="whitelist" id="inputType" submitType="add">';
    }
    else if ( $(this).attr("option") == "banned-players" && $(this).attr("submitType") == "add" ) {
        var title = 'Add Banned Player: <input type="hidden" name="type" value="banned-players" id="inputType" submitType="add">';
    }
    else if ( $(this).attr("option") == "banned-ips" && $(this).attr("submitType") == "add" ) {
        var title = 'Add Banned IP: <input type="hidden" name="type" value="banned-ips" id="inputType" submitType="add">';
    }
    else if ( $(this).attr("option") == "operators" && $(this).attr("submitType") == "remove" ) {
        var title = 'Remove Operator:<input type="hidden" name="type" value="operators" id="inputType" submitType="remove">';
    }  
    else if ( $(this).attr("option") == "whitelist" && $(this).attr("submitType") == "remove" ) {
        var title = 'Remove from Whitelist: <input type="hidden" name="type" value="whitelist" id="inputType" submitType="remove">';
    }
    else if ( $(this).attr("option") == "banned-players" && $(this).attr("submitType") == "remove" ) {
        var title = 'Remove Banned Player: <input type="hidden" name="type" value="banned-players" id="inputType" submitType="remove">';
    }
    else if ( $(this).attr("option") == "banned-ips" && $(this).attr("submitType") == "remove" ) {
        var title = 'Remove Banned IP: <input type="hidden" name="type" value="banned-ips" id="inputType" submitType="remove">';
    }
    else {
        var title = "Error";
    }
    $(".messagepop").show("fast");
    $('#title').html(title);

}

function hideIt() {
    $(".messagepop").hide("fast");
}

function submitIt() {
    var type = $("#inputType").val();
    var user = $("#user").val();



    if ( $("#inputType").attr("submitType") == "add" ) {
        
        var submitType = "/addUser";
    }
    else if ( $("#inputType").attr("submitType") == "remove" ) {
        var submitType = "/removeUser";
    }
    else {
        var submitType = "error";
    }
    $.ajax({
               type: "GET",
               url: submitType,
               data: "type=" + type + "&user=" + user
                });
    $(".messagepop").hide("fast");
    setTimeout(reloadDiv, 500);
}

function reloadDiv() {
    $('.rightColumn').load('/rightColumn');
}

$("#addUser").live('click', showIt);
$("#removeUser").live('click', showIt);
$(".close").click(hideIt);
$(".submit").click(submitIt);
</script>

<div class="messagepop pop">
    <p>
        <label for="user" id="title"></label>

        <input type="text" size="13" name="user" id="user" autocomplete="off" />
    </p>
    <p>
        <a href="#" class="submit">Submit</a> or <a class="close" href="#">Close</a>
    </p>
</div>


    <strong>Connected Players:</strong><br />
    {% if activeUsers == [''] %}
        No players connected
    {% elif activeUsers != [''] %}
        {{ activeUsers|join(', ') }}
    {% endif %}
    <br /><br />
    <strong>Server Operators:</strong> <a href="#" id="addUser" option="operators" submitType="add">Add</a> - <a href="#" id="removeUser" option="operators" submitType="remove">Remove</a> <br />

    <font color="#006600">

    {{ ops|join(', ') }}

    </font><br /><br />

    <strong>White List:</strong> <a href="#" id="addUser" option="whitelist" submitType="add">Add</a> - <a href="#" id="removeUser" option="whitelist" submitType="remove">Remove</a> <br />

    <font color="#006600">
    
    {{ whiteListUsers|join(', ') }}

    </font><br /><br />

    <strong>Banned Players:</strong> <a href="#" id="addUser" option="banned-players" submitType="add">Add</a> - <a href="#" id="removeUser" option="banned-players" submitType="remove">Remove</a> <br /> 

    <font color="#CC0000">

    {{ bannedUsersList|join(', ') }}

    </font><br /><br />
    
    <strong>Banned IPs:</strong> <a href="#" id="addUser" option="banned-ips" submitType="add">Add</a> - <a href="#" id="removeUser" option="banned-ips" submitType="remove">Remove</a> <br />

    <font color="#CC0000">

    {{ bannedIPsList|join(', ') }}

    </font>
<p>
Note: To apply any changes here, you must restart the Minecraft service.
</p>
    </div>
    <div id="tab2" class="tab_content">

<script>
	$(function() {
		$( "input:submit, a, button", ".server-buttons" ).button();
		$( "input:submit, a, button", ".server-buttons" ).click(function() { $("input:submit, a, button", ".server-buttons").button({ disabled: true });
        
        setTimeout('enableButton()', 10000); });
	});



    function enableButton(){
        $("input:submit, a, button", ".server-buttons").button({disabled: false });
 };
</script>

            <strong>Server Options:</strong><br /><br />
            <div class="server-buttons">
                <button class="server-buttonsAction">Restart</button>
                <button class="server-buttonsAction">Start</button>
                <button class="server-buttonsAction">Stop</button>
                <button class="server-buttonsAction">Backup</button>
            </div>

<script>
    $(".server-buttonsAction").click(function () {

      var text = $(this).text();
      var text = text.toLowerCase();

    $.ajax({
       type: "GET",
       url: "server",
       data: "option=" + text
        }).done(function( msg ) {
        alert(  msg );
        });
      
      if( text == "restart" ) {
            var status = "restarting..."
        }
      else if ( text == "start" ) {
            var status = "starting..."
        }
      else if ( text == "stop" ) {
            var status = "stopping..."
        }
      else if ( text == "backup" ) {
            var status = "backing up..."
        }
      else {
            var status = "???"
        }

    $("#serverStatus").html("Server is " + status);
    });
</script>
        
        <div><br />
        <strong>Server Properties:</strong>
            <form action="serverConfig" method="get">
            <table>
                <tr>
                    <td>Generator Settings:</td>
                    <td><input type="text" name="generator-settings" size="10" class="serverTextInput" value="{{ properties[0]|replace("generator-settings=", "") }}" /></td>
                </tr>
                <tr>
                    <td class="serverOptionsTable1">Allow Nether:</td>
                    <td>
                        <input type="radio" name="allow-nether" value="true" {% if "true" in properties[1] %} checked {% endif %}>True</input>
                        <input type="radio" name="allow-nether" value="false" {% if "false" in properties[1] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Level Name:</td>
                    <td><input type="text" name="level-name" size="10" class="serverTextInput" value="{{ properties[2]|replace("level-name=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Enable Query:</td>
                    <td>
                        <input type="radio" name="enable-query" value="true" {% if "true" in properties[3] %} checked {% endif %}>True</input>
                        <input type="radio" name="enable-query" value="false" {% if "false" in properties[3] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Allow Flight:</td>
                    <td>
                        <input type="radio" name="allow-flight" value="true" {% if "true" in properties[4] %} checked {% endif %}>True</input>
                        <input type="radio" name="allow-flight" value="false" {% if "false" in properties[4] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Server Port:</td>
                    <td><input type="text" name="server-port" size="10" class="serverTextInput" value="{{ properties[5]|replace("server-port=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Level Type:</td>
                    <td>
                        <input type="radio" name="level-type" value="DEFAULT" {% if "DEFAULT" in properties[6] %} checked {% endif %}>Default</input>
                        <input type="radio" name="level-type" value="FLAT" {% if "FLAT" in properties[6] %} checked {% endif %}>Flat</input>
                    </td>
                </tr>
                <tr>
                    <td>Enable Rcon:</td>
                    <td>
                        <input type="radio" name="enable-rcon" value="true" {% if "true" in properties[7] %} checked {% endif %}>True</input>
                        <input type="radio" name="enable-rcon" value="false" {% if "false" in properties[7] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Level Seed:</td>
                    <td><input type="text" name="level-seed" size="10" class="serverTextInput" value="{{ properties[8]|replace("level-seed=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Server IP:</td>
                    <td><input type="text" name="server-ip" size="10" class="serverTextInput" value="{{ properties[9]|replace("server-ip=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Max Build Height:</td>
                    <td><input type="text" name="max-build-height" size="2" class="serverTextInput" value="{{ properties[10]|replace("max-build-height=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Spawn NPCS:</td>
                    <td>
                        <input type="radio" name="spawn-npcs" value="true" {% if "true" in properties[11] %} checked {% endif %}>True</input>
                        <input type="radio" name="spawn-npcs" value="false" {% if "false" in properties[11] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Enable Whitelist:</td>
                    <td>
                        <input type="radio" name="white-list" value="true" {% if "true" in properties[12] %} checked {% endif %}>True</input>
                        <input type="radio" name="white-list" value="false" {% if "false" in properties[12] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Spawn Animals:</td>
                    <td>
                        <input type="radio" name="spawn-animals" value="true" {% if "true" in properties[13] %} checked {% endif %}>True</input>
                        <input type="radio" name="spawn-animals" value="false" {% if "false" in properties[13] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Snooper Enabled:</td>
                    <td>
                        <input type="radio" name="snooper-enabled" value="true" {% if "true" in properties[14] %} checked {% endif %}>True</input>
                        <input type="radio" name="snooper-enabled" value="false" {% if "false" in properties[14] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Hardcore Enabled:</td>
                    <td>
                        <input type="radio" name="hardcore" value="true" {% if "true" in properties[15] %} checked {% endif %}>True</input>
                        <input type="radio" name="hardcore" value="false" {% if "false" in properties[15] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Texture Pack:</td>
                    <td><input type="text" name="texture-pack" size="10" class="texturePackInput" value="{{ properties[16]|replace("texture-pack=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Online Mode:</td>
                    <td>
                        <input type="radio" name="online-mode" value="true" {% if "true" in properties[17] %} checked {% endif %}>True</input>
                        <input type="radio" name="online-mode" value="false" {% if "false" in properties[17] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>PVP:</td>
                    <td>
                        <input type="radio" name="pvp" value="true" {% if "true" in properties[18] %} checked {% endif %}>True</input>
                        <input type="radio" name="pvp" value="false" {% if "false" in properties[18] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>Difficulty:</td>
                    <td>
                        <input type="radio" name="difficulty" value="0" {% if "0" in properties[19] %} checked {% endif %}>0</input>
                        <input type="radio" name="difficulty" value="1" {% if "1" in properties[19] %} checked {% endif %}>1</input>
                        <input type="radio" name="difficulty" value="2" {% if "2" in properties[19] %} checked {% endif %}>2</input>
                        <input type="radio" name="difficulty" value="3" {% if "3" in properties[19] %} checked {% endif %}>3</input>
                    </td>
                </tr>
                <tr>
                    <td>Game Mode:</td>
                    <td>
                        <input type="radio" name="gamemode" value="0" {% if "0" in properties[20] %} checked {% endif %}>Survival</input>
                        <input type="radio" name="game-mode" value="1" {% if "1" in properties[20] %} checked {% endif %}>Creative</input>
                    </td>
                </tr>
                <tr>
                    <td>Max Players:</td>
                    <td><input type="text" name="max-players" size="2" class="serverTextInput" value="{{ properties[21]|replace("max-players=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Spawn Monsters:</td>
                    <td>
                        <input type="radio" name="spawn-monsters" value="true" {% if "true" in properties[22] %} checked {% endif %}>True</input>
                        <input type="radio" name="spawn-monsters" value="false" {% if "false" in properties[22] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>View Distance:</td>
                    <td><input type="text" name="view-distance" size="2" class="serverTextInput" value="{{ properties[23]|replace("view-distance=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Generate Structures:</td>
                    <td>
                        <input type="radio" name="generate-structures" value="true" {% if "true" in properties[24] %} checked {% endif %}>True</input>
                        <input type="radio" name="generate-structures" value="false" {% if "false" in properties[24] %} checked {% endif %}>False</input>
                    </td>
                </tr>
                <tr>
                    <td>MOTD:</td>
                    <td><input type="text" name="motd" size="10" class="serverTextInput" value="{{ properties[25]|replace("motd=", "") }}" /></td>
                </tr>
            </table>
            <input type="submit" value="Submit" />
            </form>
        </div>

<!--
Debug: <br />
{{ properties[0] }} <br />
{{ properties[1] }}<br />
{{ properties[2] }}<br />
{{ properties[3] }}<br />
{{ properties[4] }}<br />
{{ properties[5] }}<br />
{{ properties[6] }}<br />
{{ properties[7] }}<br />
{{ properties[8] }}<br />
{{ properties[9] }}<br />
{{ properties[10] }}<br />
{{ properties[11] }}<br />
{{ properties[12] }}<br />
{{ properties[13] }}<br />
{{ properties[14] }}<br />
{{ properties[15] }}<br />
{{ properties[16] }}<br />
{{ properties[17] }}<br />
{{ properties[18] }}<br />
{{ properties[19] }}<br />
{{ properties[20] }}<br />
-->

    </div>
    <div id="tab3" class="tab_content">

<script>
function showAddTask() {
    $(".messagepopTask").show("fast");
    }
$("#addTask").live('click', showAddTask);

function closeTask() {
    $(".messagepopTask").hide("fast");
    }
</script>

<script>
function submitTask() {

    var taskType = $("#inputTaskType").val();
    var dom = $("#inputDOM").val();
    var dow = $("#inputDOW").val();
    var hour = $("#inputHour").val();
    var minute = $("#inputMinute").val();

    var taskData = "type=" + taskType + "&dom=" + dom + "&dow=" + dow + "&hour=" + hour + "&minute=" + minute

    $.ajax({
           type: "GET",
           url: "addTask",
           data: taskData
            });

    $(".messagepopTask").hide("fast");
}

$(".submitTask").click(submitTask);       
$(".closeTask").click(closeTask);
</script>

    <div id="addTaskButton"><div class="addTask"><a href="#" id="addTask">Add Task</a></div></div>

    <div class="messagepopTask pop">

    <table>
        <form>
            <tr>
                <td>
                    <strong>Add Scheduled Task</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Task Type:
                </td>
                <td>
                    <select id="inputTaskType">
                        <option value="backup">Backup</option>
                    <!--    <option value="restart">Restart</option>
                        <option value="message">Message</option> -->
                    </select>
                </td>
            </tr>

            <tr>
                <td>            
                    Day of Month:
                </td>
                <td>
                    <select id="inputDOM">
                                <option value="all">All</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                        </select>
                </td>
            </tr>
            <tr>
                <td>
                    Day of Week:
                </td>
                <td>
                            <select id="inputDOW">
                                <option value="all">All</option>
                                <option value="0">Mon</option>
                                <option value="1">Tue</option>
                                <option value="2">Wed</option>
                                <option value="3">Thu</option>
                                <option value="4">Fri</option>
                                <option value="5">Sat</option>
                                <option value="6">Sun</option>

                            </select>
                </td>
            </tr>
            <tr>
                <td> 
                    Hour:
                </td>
                <td>
                    <select id="inputHour">
                                <option value="all">All</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>
                </td>
            </tr>
            <tr>
                <td>
                    Minute:
                </td>
                <td>
                            <select id="inputMinute">
                                <option value="all">All</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                                <option value="53">53</option>
                                <option value="54">54</option>
                                <option value="55">55</option>
                                <option value="56">56</option>
                                <option value="57">57</option>
                                <option value="58">58</option>
                                <option value="59">59</option>
                            </select>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#" class="submitTask">Submit</a>
		    <a href="#" class="closeTask">Close</a>
                </td>
            </tr>
        </form>
    </table>

    </div>

<div id="taskTable">
    <table>
        <thead>
        <th>Scheduled Tasks</th>
        </thead>
    </table>
    <table>
        <thead>
            <th>Task</th><th>Day</th><th>Weekday</th><th>Hour</th><th>Minute</th>
        </thead>
        {% for cell, cell2, cell3, cell4, cell5 in a %}
        <tr>
            <td>{{ cell }}</td><td>{{ cell2 }}</td><td>{{ cell3 }}</td><td>{{ cell4 }}</td><td>{{ cell5 }}</td>
        </tr>
        {% endfor %}

    </table>
</div>
<br />
<script>
function startTasks() {
    $.ajax({
           type: "GET",
           url: "task",
           data: "command=start"
            });

    $.ajax({
           url: "task?command=status",  
           cache: false,  
           success: function(html){  
               $("#taskStatus").html(html);
                 },  
           });
}

function stopTasks() {
    $.ajax({
           type: "GET",
           url: "task",
           data: "command=stop"
            });

    $.ajax({
           url: "task?command=status",  
           cache: false,  
           success: function(html){  
               $("#taskStatus").html(html);
                 },  
           });
}

function restartTasks() {
    $.ajax({
           type: "GET",
           url: "task",
           data: "command=restart"
            });
}

$(".startTasks").click(startTasks);
$(".stopTasks").click(stopTasks);
$(".restartTasks").click(restartTasks);
</script>

<div id="taskOptions">

<div id="taskButtons">
<a href="#" class="startTasks taskControl">Start</a> - <a href="#" class="stopTasks taskControl">Stop</a> - <a href="#" class="restartTasks taskControl">Restart</a>
</div>
<br />
<div id="taskStatus" class="tasksText">
Checking task scheduler status..<blink>.</blink>

        <script>
        function taskStatus(){       
          
                $.ajax({
                    url: "task?command=status",  
                    cache: false,  

                    success: function(html){  
                        $("#taskStatus").html(html);
                    },  
                });  
            }  
        
        setInterval (taskStatus, 15000); 

        </script>
</div>


<br />
<div class="tasksText">Backup Directory:</div> 
<div class="backupDir"> {{ backupDir }} </div>

</div>

    </div>
    <div id="tab4" class="tab_content">
       <!--Content-->
    </div>
</div>

    

