<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../../../static/themes/minimal/styles.css" type="text/css" />
		<title>AdminCraft login</title>
	</head>
	<body>
	 <div id="horizon">
	   <div id="content">
	    <form action="" method="post">
			<h2>AdminCraft</h2>
	              <input id="user" class="loginBoxInput" type="text" name="username" placeholder="username" id="user" autocomplete="off">
	               <input id="pass" class="loginBoxInput" type="password" name="password" placeholder="password" id="password" autocomplete="off">
				   <br />
	               <input type="submit" value="login" id="login">
	           </form>
		   </div>
       </div>
	</body>
</html>
