<script>
$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
</script>

<ul class="tabs">
    <li><a href="#tab1">Users</a></li>
    <li><a href="#tab2">Server</a></li>
    <!-- Disabled <li><a href="#tab3">Log History</a></li> -->
    <!-- Disabled <li><a href="#tab4">Tasks</a></li> -->
</ul>

<div class="tab_container">
    <div id="tab1" class="tab_content">
<script>

function showIt() {

    if( $(this).attr("option") == "operators" && $(this).attr("submitType") == "add" ) {
        var title = 'Add Operator:<input type="hidden" name="type" value="operators" id="inputType" submitType="add">';
    }  
    else if ( $(this).attr("option") == "whitelist" && $(this).attr("submitType") == "add" ) {
        var title = 'Add to Whitelist: <input type="hidden" name="type" value="whitelist" id="inputType" submitType="add">';
    }
    else if ( $(this).attr("option") == "banned-players" && $(this).attr("submitType") == "add" ) {
        var title = 'Add Banned Player: <input type="hidden" name="type" value="banned-players" id="inputType" submitType="add">';
    }
    else if ( $(this).attr("option") == "banned-ips" && $(this).attr("submitType") == "add" ) {
        var title = 'Add Banned IP: <input type="hidden" name="type" value="banned-ips" id="inputType" submitType="add">';
    }
    else if ( $(this).attr("option") == "operators" && $(this).attr("submitType") == "remove" ) {
        var title = 'Remove Operator:<input type="hidden" name="type" value="operators" id="inputType" submitType="remove">';
    }  
    else if ( $(this).attr("option") == "whitelist" && $(this).attr("submitType") == "remove" ) {
        var title = 'Remove from Whitelist: <input type="hidden" name="type" value="whitelist" id="inputType" submitType="remove">';
    }
    else if ( $(this).attr("option") == "banned-players" && $(this).attr("submitType") == "remove" ) {
        var title = 'Remove Banned Player: <input type="hidden" name="type" value="banned-players" id="inputType" submitType="remove">';
    }
    else if ( $(this).attr("option") == "banned-ips" && $(this).attr("submitType") == "remove" ) {
        var title = 'Remove Banned IP: <input type="hidden" name="type" value="banned-ips" id="inputType" submitType="remove">';
    }
    else {
        var title = "Error";
    }
    $(".messagepop").show("fast");
    $('#title').html(title);

}

function hideIt() {
    $(".messagepop").hide("fast");
}

function submitIt() {
    var type = $("#inputType").val();
    var user = $("#user").val();



    if ( $("#inputType").attr("submitType") == "add" ) {
        
        var submitType = "/addUser";
    }
    else if ( $("#inputType").attr("submitType") == "remove" ) {
        var submitType = "/removeUser";
    }
    else {
        var submitType = "error";
    }
    $.ajax({
               type: "GET",
               url: submitType,
               data: "type=" + type + "&user=" + user
                });
    $(".messagepop").hide("fast");
    setTimeout(reloadDiv, 500);
}

function reloadDiv() {
    $('.rightColumn').load('/rightColumn');
}

$("#addUser").live('click', showIt);
$("#removeUser").live('click', showIt);
$(".close").click(hideIt);
$(".submit").click(submitIt);

</script>

<div class="messagepop pop">
    <p>
        <label for="user" id="title"></label>

        <input type="text" size="13" name="user" id="user" autocomplete="off" />
    </p>
    <p>
        <a href="#" class="submit">Submit</a> or <a class="close" href="#">Close</a>
    </p>
</div>


    <strong>Connected Players:</strong><br />

    {{ activeUsers }}

    <br /><br />
    <strong>Server Operators:</strong> <a href="#" id="addUser" option="operators" submitType="add">Add</a> - <a href="#" id="removeUser" option="operators" submitType="remove">Remove</a> <br />

    <font color="#006600">

    {{ ops|join(', ') }}

    </font><br /><br />

    <strong>White List:</strong> <a href="#" id="addUser" option="whitelist" submitType="add">Add</a> - <a href="#" id="removeUser" option="whitelist" submitType="remove">Remove</a> <br />

    <font color="#006600">

    {{ whiteListUsers|join(', ') }}

    </font><br /><br />

    <strong>Banned Players:</strong> <a href="#" id="addUser" option="banned-players" submitType="add">Add</a> - <a href="#" id="removeUser" option="banned-players" submitType="remove">Remove</a> <br /> 

    <font color="#CC0000">

    {{ bannedUsers|join(', ') }}

    </font><br /><br />
    
    <strong>Banned IPs:</strong> <a href="#" id="addUser" option="banned-ips" submitType="add">Add</a> - <a href="#" id="removeUser" option="banned-ips" submitType="remove">Remove</a> <br />

    <font color="#CC0000">

    {{ bannedIPs|join(', ') }}

    </font>
<p>
Note: To apply any changes here, you must restart the Minecraft service.
</p>
    </div>
    <div id="tab2" class="tab_content">

    <script>
	$(function() {
		$( "input:submit, a, button", ".server-buttons" ).button();
		$( "input:submit, a, button", ".server-buttons" ).click(function() { $("input:submit, a, button", ".server-buttons").button({ disabled: true });
        
        setTimeout('enableButton()', 10000); });
	});



    function enableButton(){
        $("input:submit, a, button", ".server-buttons").button({disabled: false });
 };


	</script>

            <strong>Server Options:</strong><br /><br />
            <div class="server-buttons">
                <button class="server-buttonsAction">Restart</button>
                <button class="server-buttonsAction">Start</button>
                <button class="server-buttonsAction">Stop</button>
                <button class="server-buttonsAction">Backup</button>
            </div>

<script>
    $(".server-buttonsAction").click(function () {

      var text = $(this).text();
      var text = text.toLowerCase();

    $.ajax({
       type: "GET",
       url: "server",
       data: "option=" + text
        }).done(function( msg ) {
        alert(  msg );
        });
      
      if( text == "restart" ) {
            var status = "restarting..."
        }
      else if ( text == "start" ) {
            var status = "starting..."
        }
      else if ( text == "stop" ) {
            var status = "stopping..."
        }
      else if ( text == "backup" ) {
            var status = "backing up..."
        }
      else {
            var status = "???"
        }

    $("#serverStatus").html("Server is " + status);
    });



</script>
        
        <div><br />
        <strong>Server Properties:</strong>
            <form action="serverConfig" method="get">
            <table>
                <tr>
                    <td class="serverOptionsTable1">Allow Nether:</td>
                    <td><input type="radio" name="allow-nether" value="true" {% if "true" in properties[0] %} checked {% endif %}>True</input><input type="radio" name="allow-nether" value="false" {% if "false" in properties[0] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>Level Name:</td>
                    <td><input type="text" name="level-name" size="10" class="serverTextInput" value="{{ properties[1]|replace("level-name=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Allow Flight:</td>
                    <td><input type="radio" name="allow-flight" value="true" {% if "true" in properties[2] %} checked {% endif %}>True</input><input type="radio" name="allow-flight" value="false" {% if "false" in properties[2] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>Enable Query:</td>
                    <td><input type="radio" name="enable-query" value="true" {% if "true" in properties[3] %} checked {% endif %}>True</input><input type="radio" name="enable-query" value="false" {% if "false" in properties[3] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>Server Port:</td>
                    <td><input type="text" name="server-port" size="10" class="serverTextInput" value="{{ properties[4]|replace("server-port=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Enable Rcon:</td>
                    <td><input type="radio" name="enable-rcon" value="true" {% if "true" in properties[5] %} checked {% endif %}>True</input><input type="radio" name="enable-rcon" value="false" {% if "false" in properties[5] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>Level Seed:</td>
                    <td><input type="text" name="level-seed" size="10" class="serverTextInput" value="{{ properties[6]|replace("level-seed=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Server IP:</td>
                    <td><input type="text" name="server-ip" size="10" class="serverTextInput" value="{{ properties[7]|replace("server-ip=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Enable Whitelist:</td>
                    <td><input type="radio" name="white-list" value="true" {% if "true" in properties[8] %} checked {% endif %}>True</input><input type="radio" name="white-list" value="false" {% if "false" in properties[8] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>Spawn Animals:</td>
                    <td><input type="radio" name="spawn-animals" value="true" {% if "true" in properties[9] %} checked {% endif %}>True</input><input type="radio" name="spawn-animals" value="false" {% if "false" in properties[9] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>Online Mode:</td>
                    <td><input type="radio" name="online-mode" value="true" {% if "true" in properties[10] %} checked {% endif %}>True</input><input type="radio" name="online-mode" value="false" {% if "false" in properties[10] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>PVP:</td>
                    <td><input type="radio" name="pvp" value="true" {% if "true" in properties[11] %} checked {% endif %}>True</input><input type="radio" name="pvp" value="false" {% if "false" in properties[11] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>Difficulty:</td>
                    <td><input type="radio" name="difficulty" value="0" {% if "0" in properties[12] %} checked {% endif %}>0</input><input type="radio" name="difficulty" value="1" {% if "1" in properties[12] %} checked {% endif %}>1</input><input type="radio" name="difficulty" value="2" {% if "2" in properties[12] %} checked {% endif %}>2</input><input type="radio" name="difficulty" value="3" {% if "3" in properties[12] %} checked {% endif %}>3</input></td>
                </tr>
                <tr>
                    <td>Game Mode:</td>
                    <td><input type="radio" name="gamemode" value="0" {% if "0" in properties[13] %} checked {% endif %}>Survival</input><input type="radio" name="game-mode" value="1" {% if "1" in properties[13] %} checked {% endif %}>Creative</input></td>
                </tr>
                <tr>
                    <td>Max Players:</td>
                    <td><input type="text" name="max-players" size="2" class="serverTextInput" value="{{ properties[14]|replace("max-players=", "") }}" /></td>
                </tr>
                <tr>
                    <td>Spawn Monsters:</td>
                    <td><input type="radio" name="spawn-monsters" value="true" {% if "true" in properties[15] %} checked {% endif %}>True</input><input type="radio" name="spawn-monsters" value="false" {% if "false" in properties[15] %} checked {% endif %}>False</input></td>
                </tr>
                <tr>
                    <td>View Distance:</td>
                    <td><input type="text" name="view-distance" size="2" class="serverTextInput" value="{{ properties[16]|replace("view-distance=", "") }}" /></td>
                </tr>
                <tr>
                    <td>MOTD:</td>
                    <td><input type="text" name="motd" size="10" class="serverTextInput" value="{{ properties[17]|replace("motd=", "") }}" /></td>
                </tr>
            </table>
            <input type="submit" value="Submit" />
            </form>
        </div>

<!--
Debug: <br />
{{ properties[0] }} <br />
{{ properties[1] }}<br />
{{ properties[2] }}<br />
{{ properties[3] }}<br />
{{ properties[4] }}<br />
{{ properties[5] }}<br />
{{ properties[6] }}<br />
{{ properties[7] }}<br />
{{ properties[8] }}<br />
{{ properties[9] }}<br />
{{ properties[10] }}<br />
{{ properties[11] }}<br />
{{ properties[12] }}<br />
{{ properties[13] }}<br />
{{ properties[14] }}<br />
{{ properties[15] }}<br />
{{ properties[16] }}<br />
-->

<!-- I hate using tables, but I couldn't get the alignment to look right, so I used the tables above to replicate the commented out section below :\

<div class="serverOptionsLeft">
    <ul>
        <li>Allow Nether: </li>
        <li>Level Name:</li>
        <li>Allow Flight:</li>
        <li>Enable Query:</li>
        <li>Server Port:</li>
        <li>Enable Rcon:</li>
        <li>Level Seed:</li>
        <li>Server IP:</li>
        <li>Enable Whitelist:</li>
        <li>Spawn Animals:</li>
        <li>Online Mode:</li>
        <li>PVP:</li>
        <li>Difficulty:</li>
        <li>Game Mode:</li>
        <li>Max Players:</li>
        <li>Spawn Monsters:</li>
        <li>View Distance:</li>
    </ul>
</div>



<div class="serverOptionsRight">
    <ul>

        <li><input type="radio" name="allow-nether" value="true" >True</input><input type="radio" name="allow-nether" value="false">False</input></li>

        <li><input type="text" size="10" class="serverTextInput" /></li>

        <li><input type="radio" name="allow-flight" value="true">True</input><input type="radio" name="allow-flight" value="false">False</input></li>

        <li><input type="radio" name="enable-query" value="true">True</input><input type="radio" name="enable-query" value="false">False</input></li>

        <li><input type="text" size="10" class="serverTextInput" /></li>

        <li><input type="radio" name="enable-rcon" value="true">True</input><input type="radio" name="enable-rcon" value="false">False</input></li>

        <li><input type="text" size="10" class="serverTextInput" /></li>

        <li><input type="text" size="10" class="serverTextInput" /></li>

        <li><input type="radio" name="white-list" value="true">True</input><input type="radio" name="white-list" value="false">False</input></li>

        <li><input type="radio" name="spawn-animals" value="true">True</input><input type="radio" name="spawn-animals" value="false">False</input></li>

        <li><input type="radio" name="online-mode" value="true">True</input><input type="radio" name="online-mode" value="false">False</input></li>

        <li><input type="radio" name="pvp" value="true">True</input><input type="radio" name="pvp" value="false">False</input></li>

        <li><input type="radio" name="difficulty" value="1">1</input><input type="radio" name="difficulty" value="2">2</input></li>

        <li><input type="radio" name="game-mode" value="1">1</input><input type="radio" name="game-mode" value="2">2</input></li>

        <li><input type="text" size="2" class="serverTextInput" /></li>

        <li><input type="radio" name="spawn-monsters" value="true">True</input><input type="radio" name="spawn-monsters" value="false">False</input></li>

        <li><input type="text" size="2" class="serverTextInput" /></li>

    </ul>
</div>
-->


    </div>
    <div id="tab3" class="tab_content">
       <!--Content-->
    </div>
    <div id="tab4" class="tab_content">
       <!--Content-->
    </div>
</div>

    

